<h1>Create New Item</h1>
<#if success?? && success>
    <h1>Item agregado exitosamente</h1>
</#if>
<form method="post">
    Title: <input type="text" id="title" name="title"><br/>
    Description: <input type="text" id="description" name="description"><br/>
    <input type="submit" id="save" value="Save">
    <input type="submit" id="cancel" value="Cancel">
</form>
<a href="/items">Back to list</a>