<h1>My ToDo List</h1>
<a href="/items/new">Add Item</a>
<ul>
    <#list todoitems as item>
        <li>
            ${item.id} - ${item.title} <a href="?id=${item.id}">Complete</a>
        </li>
    </#list>
</ul>

<h1>My Complete List</h1>
<ul>
    <#list completeitems as item>
        <li>
            ${item.id} - ${item.title} <a href="#">Complete</a>
        </li>
    </#list>
</ul>